<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zxe.admin.dao.SysRoleResourceDao">
	<resultMap id="rm" type="com.zxe.admin.entity.SysRoleResourceEntity">
		<result property="id" jdbcType="BIGINT" column="id"/>
		<result property="roleId" jdbcType="VARCHAR" column="role_id"/>
		<result property="resourcesId" jdbcType="VARCHAR" column="resources_id"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
	</resultMap>
</mapper>

