<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zxe.admin.dao.SysUserDao">
    <resultMap id="user" type="com.zxe.admin.entity.SysUserEntity">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="username" jdbcType="VARCHAR" column="username"/>
        <result property="password" jdbcType="VARCHAR" column="password"/>
        <result property="nickname" jdbcType="VARCHAR" column="nickname"/>
        <result property="mobile" jdbcType="VARCHAR" column="mobile"/>
        <result property="email" jdbcType="VARCHAR" column="email"/>
        <result property="qq" jdbcType="VARCHAR" column="qq"/>
        <result property="birthday" jdbcType="DATE" column="birthday"/>
        <result property="gender" jdbcType="TINYINT" column="gender"/>
        <result property="avatar" jdbcType="VARCHAR" column="avatar"/>
        <result property="userType" jdbcType="CHAR" column="user_type"/>
        <result property="regIp" jdbcType="VARCHAR" column="reg_ip"/>
        <result property="lastLoginIp" jdbcType="VARCHAR" column="last_login_ip"/>
        <result property="lastLoginTime" jdbcType="TIMESTAMP" column="last_login_time"/>
        <result property="loginCount" jdbcType="INTEGER" column="login_count"/>
        <result property="remark" jdbcType="VARCHAR" column="remark"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>
    
    <select id="findUser" parameterType="com.zxe.admin.entity.SysUserEntity" resultType="com.zxe.admin.entity.SysUserEntity">
        select * from sys_user where username=#{username}
    </select>
</mapper>


